@model System.Collections.Generic.List<Website.Models.Property>

@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" id="index-jumbo">
    <h2>About page</h2>
    <p>This is a page about something. I don't know what, but about something.</p>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item</li>
        }
    </ul>

</div>