@{
    Layout = "../Shared/_Layout.cshtml";
}

<ul class="list-group" id="contact-info">
    <li class="list-group-item"><i class="fa fa-user"></i>Felix Wetell</li>
    <li class="list-group-item"><i class="fa fa-phone"></i>+46 768 48 19 97</li>
    <li class="list-group-item"><i class="fa fa-envelope"></i>felix.wetell@gmail.com</li>
    <li class="list-group-item"><i class="fa fa-industry"></i>Mountain Dev.</li>
</ul>

<a href="https://linkedin.com/in/felix-wetell"><i class="fa fa-github-square fa-4x"></i></a>
<a href="https://github.com/felixwetell"><i class="fa fa-linkedin-square fa-4x"></i></a>