@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" id="index-jumbo">
    <h1>Felix Wetell</h1>

    <p>
    This is my portfolio website using Bootstrap. 
    I also have another website, that one is completely built from scrath, you can get to <a href="http://felixwetell.azurewebsites.net/">here</a>. 
    I have uploaded this website to <a href="https://github.com/felixwetell/WebAssignmentOct">Gihtub</a> so I can show my teahcer that I can code using Bootstrap.
    </p>
    
    <p>Down below is a link to my Github.</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="https://github.com/felixwetell">Github</a></p>
</div>