<div class="jumbotron" id="index-jumbo">
    <h1>Welcome, to my Bootstrap website!</h1>
    <p>This is some random text to fill out the whitespace that would have been here. 
    I have uploaded this test website to <a href="https://github.com">Gihtub</a> so I can show my teahcer that I can code using Bootstrap.</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="https://github.com/felixwetell">Github</a></p>
</div>