#content {
    margin-top: 30px;
}

#content h3{
    color: #27ae60;
}

#contact-info i {
    margin-right: 10px;
}

#github, #linkedin {
    color: #7f8c8d;
}

#github:hover, #linkedin:hover {
    color: #95a5a6;
}
